<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>毒液</title>
    <link rel="icon" href="img/favico.ico">
    <link rel="stylesheet" href="lib/jquery-mobile/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="lib/jquery-mobile/jquery.mobile-1.4.5.min.js"></script>
    <script>
      $(document).on("pageshow","#invade",function(){
        setTimeout(function() {
          $('.venom').addClass('move')
        }, 600)
      });
      $(document).on("pagehide","#invade",function(){
        $('.venom').removeClass('move')
      });
    </script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="warpper" data-role="page" id="guide">
      <div data-role="main"><a class="heart" href="#login"></a>
        <audio src="./music.mp3" autoplay loop></audio>
      </div>
    </div>
    <div class="loginPage" data-role="page" id="login" data-theme="c">
      <div class="shade"></div>
      <div class="ui-content" data-role="main" data-theme="c">
        <form action="" method="POST" submit="return false">
          <label for="loginphone"></label>
          <input id="loginphone" type="text" data-theme="c" data-clear-btn="true" placeholder="请输入手机号码" maxlength="11" required>
          <label for="loginpassword"></label>
          <input id="loginpassword" type="password" data-theme="c" data-clear-btn="true" placeholder="请输入密码" required>
          <div class="flex text12 mb-30"><a href="#forget">忘记密码?</a><a class="noneline arrow" href="#register">快速注册</a></div><a class="btn" href="#new" data-role="button" data-theme="c">登录</a>
        </form>
      </div>
    </div>
    <div class="loginPage" data-role="page" id="register" data-theme="c">
      <div class="shade"></div>
      <div class="ui-content" data-role="main" data-theme="c">
        <form action="" method="POST">
          <label for="registerphone"></label>
          <input id="registerphone" type="text" data-theme="c" data-clear-btn="true" placeholder="请输入手机号码" maxlength="11" required>
          <label for="loginname"></label>
          <input id="loginname" type="text" data-theme="c" data-clear-btn="true" placeholder="昵称" maxlength="11" required>
          <label for="registercode"></label>
          <input class="code" id="registercode" type="text" data-theme="c" placeholder="请输入验证码" required>
          <input class="getCode" type="button" value="获取验证码" data-inline="true" data-theme="c">
          <label for="registerpassword"></label>
          <input id="registerpassword" type="password" data-theme="c" data-clear-btn="true" placeholder="设置登录密码" required>
          <button class="btn" type="submit" data-theme="c">注册</button>
        </form>
      </div>
    </div>
    <div class="loginPage" data-role="page" id="forget" data-theme="c">
      <div class="shade"></div>
      <div class="ui-content" data-role="main" data-theme="c">
        <form action="" method="POST">
          <label for="forgetphone"></label>
          <input id="forgetphone" type="text" data-theme="c" data-clear-btn="true" placeholder="请输入手机号码" maxlength="11" required>
          <label for="forgetcode"></label>
          <input class="code" id="forgetcode" type="text" data-theme="c" placeholder="请输入验证码" required>
          <input class="getCode" type="button" value="获取验证码" data-inline="true" data-theme="c">
          <label for="forgetpassword"></label>
          <input id="forgetpassword" type="password" data-theme="c" data-clear-btn="true" placeholder="设置登录密码" required>
          <button class="btn" type="submit" data-theme="c">完成</button>
        </form>
      </div>
    </div>
    <div data-role="page" id="new" data-theme="c">
      <div class="ui-content" data-role="main" data-theme="c">
        <div class="flex flex-between">
          <div class="info">
            <p>昵称: 毒液</p>
            <p>剩余能量: 100</p>
          </div>
          <div class="action">
            <div class="rule"></div><a class="user" href="#user"></a><a class="video" href="#video"></a>
          </div>
        </div>
        <div class="test"></div>
        <div class="pb"><a href="#invade" data-role="button" data-theme="c">寻找宿主</a></div>
        <div class="rule-wrapper">
          <ul class="inner">
            <li><span>asdasdasdsa最终解释权归测试公司所最终解释权归测试公司所</span></li>
            <li>asdasdasdsa</li>
            <li>asdasdasdsa</li>
            <div class="rpb">注：本活动最终解释权归测试公司所有</div>
          </ul>
        </div>
        <div class="pay-wrapper">
          <div class="codeimg"><img src="img/ercode.png"></div>
        </div>
      </div>
    </div>
    <div data-role="page" id="invade" data-theme="c">
      <div class="ui-content" data-role="main" data-theme="c">
        <div class="notice">欢迎各位入侵者寻找宿主！</div>
        <div class="venom"></div>
        <div class="action"><a class="user" href="#user"></a><a class="video" href="#video"></a><a href="#finish">测试结束</a></div>
      </div>
    </div>
    <div data-role="page" id="finish" data-theme="c">
      <div class="ui-content" data-role="main" data-theme="c">
        <div class="endText">
          <h2 class="title">恭喜！您已成功入侵宿主！</h2>
          <div class="flex">
            <p>开始:2018/12/20 11:38 </p>
            <p>结束:2018/12/20 11:38</p>
          </div>
          <p>入侵成功后您将获得能量值:1000!可直接点击”提现”按钮进行兑换，也可到个人中心进行统一兑换.点击“下一局”按钮，您可重新选择入侵，寻找宿主！</p>
        </div><a class="pb nextBtn" href="#new" data-role="none"></a>
      </div>
    </div>
    <div data-role="page" id="video" data-theme="c">
      <div class="ui-content" data-role="main" data-theme="c">
        <div class="header">视频中心<a class="back" href="#" data-rel="back"></a></div>
        <div class="scroll">
          <ul class="nostyle"></ul>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
          <li class="video-item"><a href=""><img src="img/v.png" alt="">
              <div class="content">
                <h2 class="title text-overflow">毒液</h2>
                <p class="desc text-overflow">即将入侵寻找宿主~</p>
                <div><span>555 次播放</span><span>2018-11-21</span></div>
              </div></a></li>
        </div>
      </div>
    </div>
    <div class="user" data-role="page" id="user" data-theme="c">
      <div class="ui-content" data-role="main" data-theme="c">
        <div class="header">个人中心<a class="back" href="#" data-rel="back"></a></div>
        <div class="content">
          <div class="info text-center">
            <h2>毒液01</h2>
            <p>剩余能量: 1000</p>
            <div class="flex useraction"><a href="#toup">我要充值</a><a href="#deposit">我要提现</a></div>
          </div>
          <ul class="nostyle menulist">
            <li class="changeName target" data-mymodal="#changename"> <a href="###">昵称修改</a></li>
          </ul>
        </div>
        <div class="modal" id="changename">
          <div class="shade">
            <div class="inner" style="width: 272px;height:258px;">
              <form action="">
                <label>昵称</label>
                <input type="text">
                <input type="submit" value="确认">
              </form>
            </div>
          </div>
        </div><a class="pb text-center out" href="#login"></a>
      </div>
    </div>
    <div class="user" data-role="page" id="toup" data-theme="c">
      <div class="ui-content" data-role="main" data-theme="c">
        <div class="header">我要充值<a class="back" href="#" data-rel="back"></a></div>
        <div style="margin-top:20px;">
          <p>选择充值方式</p>
          <ul class="nostyle paylist">
            <li><a href="">银行卡</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="user" data-role="page" id="deposit" data-theme="c">
      <div class="ui-content" data-role="main" data-theme="c">
        <div class="header">我要提现<a class="back" href="#" data-rel="back"></a></div>
        <div style="margin-top:20px;">
          <p>选择充值方式</p>
          <ul class="nostyle paylist">
            <li><a href="">银行卡</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>